body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: purple;
  line-height: 35px;
}
h3 {
  font-size: 20px;
  margin-bottom: 0px;
}
ul {
  margin-top: 24px;
}
li {
  list-style: none;
}
.weather-temperature img {
  margin-right: 6px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.temp-degree {
  position: relative;
  top: 10px;
  font-size: 60px;
}
.temp-setting {
  position: relative;
  top: -23px;
  left: 5px;
}
