body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: purple;
  line-height: 28px;
  margin-top: 25px;
}
h3 {
  font-size: 18px;
  margin-bottom: 0;
}
ul {
  margin-top: 24px;
}
li {
  list-style: none;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.weather-temperature img {
  margin-right: 6px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.temp-setting {
  position: relative;
  top: -18px;
  left: -10px;
}

.temp-setting .active {
  color: black;
  cursor: default;
}
.cloudy-day {
  width: 60px;
}
.forecast-days {
  font-size: 16px;
  text-align: center;
}
.hi-low {
  font-size: 11px;
  text-align: center;
  line-height: 25px;
}

#description {
  font-size: 20px;
  text-transform: capitalize;
}
#temp-degree {
  position: relative;
  top: 15px;
  margin-right: 5px;
  font-size: 60px;
}
#icon {
  margin-right: 0px;
}
